Bachelor/venv/
Bachelor/unnamed.jpg
Bachelor/unnamed.csv
Bachelor/unnamed.pdf
Bachelor/normal_measure_screen.py
LabJackPrototyp/Versuchsplot UCE 4Volt.pdf
LabJackPrototyp/Versuchsplot UCE 4Volt.xlsx
LabJackPrototyp/__pycache__/measure_screen.cpython-38.pyc
LabJackPrototyp/__pycache__/calculate.cpython-38.pyc
LabJackPrototyp/.idea/workspace.xml
LabJackPrototyp/dist
LabJackPrototyp/build